{% extends 'index.html'%}

{% block content%}
<section class="container">
  <div class="row">
    <div class="col-sm-6">
      <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/kitchen.jpg">
    </div>
    <div class="col-sm-6">
      <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/woodwork.jpg">
    </div>
    <div class="col-sm-6">
      <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/gifts.jpg">
    </div>
    <div class="col-sm-6">
      <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/antique.jpg">
    </div>
  </div>
  <div class="row text-center">
    <a class="btn btn-secondary" href="#">View Complete Catalogue</a>
  </div>
</section>
{% endblock %}
