{% extends 'index.html'%} {% block content%}
<div style="display: grid; grid-gap: 50px; margin: 50px; margin-top: 50px; flex-direction: column;">
  <div>
    <div class="posts">
      {% for post in posts %}
      <div class="post">
        <a href="like/{{post[0]}}"><img src="data:image/png;base64,{{post[4]}}" width="300px" height="200px"></a>
        <p>{{post[1]}} - @{{post[3]}} - {{post[5]}} Likes</p>
        <p>{{post[2]}}</p>
        <div class="post-details">
          <p>Comentários:</p>
          {% for comment in post[6] %}
          <p>@{{comment[4]}} - {{comment[1]}}</p>
          <p>{{comment[2]}}</p>
          {% endfor %}
        </div>
        <div style="display: inline-block;">
          {% if username != None %}
          <form method='post' action="comment">
            <input type="hidden" name="idPhoto" value="{{post[0]}}" />
            <textarea name="comment" rows="1" cols="20"></textarea>
            <button type="submit" class="btn btn-default">comment</button>
          </form>
          <!-- <form method='POST' action="like">
            <input type="hidden" name="idPhoto" value="{{post[0]}}" />
            <button type="submit" class="btn btn-default">like</button>
          </form> -->
          {% endif %}
        </div>
        <br/>
        <br/>
      </div>
      {% endfor %}
    </div>
    <br>
    <div class="form-post">
      {% if username != None %}
      <form method="POST" action="/post" enctype="multipart/form-data">
        <input type="file" name="file">
        <br/>
        <textarea name="description" cols="30" rows="3"></textarea>
        <button type="submit" name='description' class="btn btn-default">submit</button>
      </form>
      {% endif %}
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}
