<!DOCTYPE html>
<html>
	<head>
		<title>Instagram</title>
    <meta charset="utf-8" />

		<link href="../static/css/bootstrap.min.css" rel="stylesheet">
		<link href="../static/css/style.css" rel="stylesheet">
		<link href="css-modal.css" rel="stylesheet" type="text/css">
	</head>
	<div>
	<body style="font-family: 'Billabong'";>
		<div style="">
	    <nav class="navbar navbar-light bg-light">
	      <a class="navbar-brand" href="#">
	        <img src="https://banner2.kisspng.com/20180324/zkq/kisspng-logo-computer-icons-instagram-5ab6f47c8a24a4.5628261715219395805658.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
	          | Instagram
	      </a>
			</nav>	
<!--
	      <form class="form-inline">
	        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">search</button>
					<a href="/signup"> <button type="button" class="btn btn-outline-primary">Sign Up</button> </a>
				  <a href="/login"> <button type="button" class="btn btn-outline-primary">Log In</button> </a>
					<a href="/home"> <button type="button" class="btn btn-outline-primary">Log Out</button> </a>
	      </form>
	    </nav>
-->
    {% block content%}
    {% endblock %}

    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
		<script src="modal.js"></script>
  </body>
</html>
